<main role="main" class="container">
  <div
    class="
      d-flex
      align-items-center
      justify-content-between
      p-3
      my-3
      text-white-50
      bg-purple
      rounded
      box-shadow
    "
  >
    <div class="lh-100">
      <h4 class="mb-0 text-white lh-100">Hackathon - Stefanini</h4>
      <small>2021</small>
    </div>
    <img
      class="w-20"
      src="https://stefanini.com/content/PortalStefanini/pt_br/home/.load.file/content/dam/PortalStefanini/global/static-files/icons/logo-novo-branco.png"
      alt="logo-stefanini"
      width="48"
      height="48"
    />
  </div>
  <div
    *ngFor="let table of data; index as i"
    class="my-3 p-3 bg-white rounded box-shadow"
  >
    <div *ngIf="tableName[i].nome === 'Professores'">
      <h6 class="border-bottom border-gray pb-2 mb-0 font-size-12">
        {{ tableName[i].nome }}
      </h6>
      <div class="media text-muted pt-3" *ngFor="let t of table; index as j">
        <p class="media-body pb-3 mb-0 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
          Cursos:
          <span
            class="badge badge-info mr-1 font-size-12"
            *ngFor="let c of cursosProf[j]"
          >
            {{ c.nome }}
          </span>
        </p>
      </div>

      <small class="d-block text-right mt-3">
        <a class="pointer text-blue" (click)="mostrarLista('professores')"
          >Ver todos</a
        >
      </small>
    </div>
    <div *ngIf="tableName[i].nome === 'Alunos'">
      <h6 class="border-bottom border-gray pb-2 mb-0 font-size-12">
        {{ tableName[i].nome }}
      </h6>
      <div class="media text-muted pt-3" *ngFor="let t of table; index as j">
        <p class="media-body pb-3 mb-0 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
          Cursos:
          <span
            class="badge badge-info mr-1 font-size-12"
            *ngFor="let c of cursosProf[j]"
          >
            {{ c.nome }}
          </span>
        </p>
      </div>

      <small class="d-block text-right mt-3">
        <a class="pointer text-blue" (click)="mostrarLista('alunos')"
          >Ver todos</a
        >
      </small>
    </div>
    <div *ngIf="tableName[i].nome === 'Cursos'">
      <h6 class="border-bottom border-gray pb-2 mb-0 font-size-12">
        {{ tableName[i].nome }}
      </h6>
      <div class="media text-muted pt-3" *ngFor="let t of table; index as j">
        <p class="media-body pb-3 mb-0 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
          <span class="badge badge-light mr-1 font-size-12"> *** </span>
        </p>
      </div>

      <small class="d-block text-right mt-3">
        <a class="pointer text-blue" (click)="mostrarLista('cursos')"
          >Ver todos</a
        >
      </small>
    </div>
    <div *ngIf="tableName[i].nome === 'Aulas'">
      <h6 class="border-bottom border-gray pb-2 mb-0 font-size-12">
        {{ tableName[i].nome }}
      </h6>
      <div class="media text-muted pt-3" *ngFor="let t of table; index as j">
        <p class="media-body pb-3 mb-0 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ t[0].nome }} - </strong>
        </p>
      </div>

      <small class="d-block text-right mt-3">
        <a class="pointer text-blue" (click)="mostrarLista('aulas')"
          >Ver todos</a
        >
      </small>
    </div>
  </div>
</main>
