<div class="my-3 p-3 bg-white rounded box-shadow">
  <h6 class="border-bottom border-gray pb-2 mb-0 font-size-18">
    {{ listaNome }}
  </h6>
  <div class="media text-muted pt-3" *ngFor="let t of listaUsuario; index as i">
    <div *ngIf="listaNome === 'Professores'">
      <p class="media-body pb-3 mb-0 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
        Cursos:
        <span
          class="badge badge-info mr-1 font-size-10"
          *ngFor="let c of listaCurso[i]"
        >
          {{ c.nome }}
        </span>
      </p>
    </div>
    <div *ngIf="listaNome === 'Alunos'">
      <p class="media-body pb-3 mb-0 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
        Cursos:
        <span
          class="badge badge-info mr-1 font-size-10"
          *ngFor="let c of listaCurso[i]"
        >
          {{ c.nome }}
        </span>
      </p>
    </div>
    <div *ngIf="listaNome === 'Cursos'">
      <p class="media-body pb-3 mb-0 border-bottom border-gray">
        <strong class="d-block text-gray-dark">@{{ t.nome }} - </strong>
        Cursos:
        <span
          class="badge badge-info mr-1 font-size-10"
          *ngFor="let c of listaCurso[i]"
        >
          {{ c.nome }}
        </span>
      </p>
    </div>
    <div *ngIf="listaNome === 'Aulas'">
      <div *ngFor="let l of listaCurso[i]">
        <p class="media-body pb-3 mb-0 border-bottom border-gray">
          <strong class="d-block text-gray-dark">@{{ l.nome }} - </strong>
        </p>
      </div>
    </div>
  </div>
</div>
